* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}
.color-red {
    color: #F61B06;
}
html, body {
    overflow-x: hidden;
}
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    max-width: 1360px;
    margin: 40px auto 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
}
.logo p {
    display: block;
    max-width: 700px;
    font-weight: 600;
    font-size: 14px;
    padding-left: 20px;
}
.logo p span {
    font-weight: 900;
    font-size: 24px;
}
.navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0;
}
.top__number {
    text-decoration: none;
    color: #FFF;
    position: absolute;
    top: 570px;
    right: 100px;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
}
.menu li {
    border-right: black solid 1px;
    cursor: pointer;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
}
.menu li:last-child {
    border-right: none;
}
.menu a {
    text-decoration: none;
    color:black;
}
.menu a:hover {
    color: #be1e2d;
}
.top {
    padding-top: 20px;
    position: relative;
}
.top img {
    width: 100%;
}
.top__descr {
    color: #FFF;
    font-weight: bold;
    font-size: 48px;
    position: absolute;
    top: 190px;
    left: 0;
}
.top__descr_top, .top__descr_btm {
    border-bottom: 20px solid #191970;
}
.top__descr_top {
    max-width: 370px;
}
.top__descr_btm {
    padding-right: 85px;
}
.transfrom_p {
    transform: translate(80px, 25px);
}
.block_price h2 {
    text-align: center;
    padding: 50px 0 50px 0;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    color: #191970;
}
.price_category {
    display: flex;
    justify-content: space-around;
    max-width: 70%;
    margin: 0 auto;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left_card svg {
    width: 209px;
    height: 209px;
}
.right_card svg {
    width: 304px;
    height: 304px;
}
.right_card {
    position: relative;
    top: -50px;
}
.right_card p {
    position: relative;
    top: -45px;
}
.card p {
    padding-top: 10px;
    text-align: center;
    font-size: 1.3em;
}
.card span {
    color: #be1e2d;
    font-weight: bold;
}
.info {
    color: #be1e2d;
    padding: 40px 0 0 40px;
    font-size: 1.3em;
}
.teach_descr {
    padding: 20px 0 0 40px;
    font-size: 1.3em;
}
.teach_descr p {
    font-weight: bold;
}
.teach_descr li {
    list-style: none;
}
.info_bold {
    color: #be1e2d;
    padding: 20px 0 0 40px;
    font-size: 1.3em;
}
.study__block {
    border: 2px solid #2f2f2f;
    max-width: 35%;
    padding: 20px;
    margin: 20px 0 0 40px;
    cursor: pointer;
}
.study__block ul {
    padding: 0 0 0 20px;
}
.study__block:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.study__block:hover p {
    font-weight: bold;
}
.text__addServices {
    padding: 20px 0 20px 40px;
    font-weight: bold;
    font-size: 1.3em;
}
.scale {
    transition: 1s; /* Время эффекта */
   }
.scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}
.auditories h2 {
    text-align: center;
    margin: 50px 0 50px 0;
}
.auditories__img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.auditories__img img {
    width: 30%;
}
@media (max-width: 1000px) {
    .auditories__img {
        flex-direction: column;
        align-items: center;
    }
    .auditories__img img {
        width: 80%;
        margin-bottom: 20px;
    }
}
.advantages {
    margin-top: 50px;
}
.advantages h2 {
    text-align: center;
    margin-bottom: 50px;
}
.advantages__grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 70%;
}

.plus {
    border: 2px solid #2f2f2f;
    text-align: justify;
    max-width: 48%;
    padding: 40px;
    margin: 1px;
}
.contacts {
    padding: 50px 0 0 0;
}
.contacts__grid {
    padding: 0 0 0 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contacts h2 {
    text-align: center;
    padding-bottom: 50px;
}
.flex-cont {
    display: flex;
    flex-direction: row;
}
.place {
    padding: 0 50px 0 0;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.place p {
    width: 271px;
}
.map {
    max-width: 60%;
}
.map iframe {
    width: 800px;
    height: 400px;
}
footer {
    background: black;
    display: flex;
    align-items: center;
    justify-content: right;
    color: #FFF;
    margin-top: 50px;
}
.footer__name {
    padding: 40px 40px 20px 40px;
}
