* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}
.color-red {
    color: #F61B06;
}
.stl_h2 {
    margin: 80px 0 40px 0;
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    color: #191970;
}
@media (max-width:450px) {
    .stl_h2 {
        font-size: 36px;
    }
}
html, body {
    overflow-x: hidden;
}
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    max-width: 1360px;
    margin: 20px auto 10px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 980px) {
    header {
        flex-direction: column;
        margin: 20px auto 10px 40px;
    }
}
@media (max-width: 530px) {
    header {
        margin: 20px auto 10px 10px;
    }
}
@media (max-width: 400px) {
    header {
        margin: 20px auto 10px 5px;
    }
}
.logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
}
.logo p {
    display: block;
    max-width: 700px;
    font-weight: 600;
    font-size: 14px;
    padding-left: 20px;
}
@media (max-width: 400px) {
    .logo p {
        font-size: 10px;
    }
    .logo p span {
        font-size: 14px;
    }
}
.logo p span {
    font-weight: 900;
    font-size: 24px;
}
.navigation {
    padding-right: 40px;
}
.navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0;
}
@media (max-width: 980px) {
    .navigation {
        padding-right: 0;
    }
    .navigation ul {
        padding: 30px 0;
        justify-content: space-between;
    }
}
@media (max-width: 535px) {
    .navigation ul {
        padding: 0;

    }
}
.menu li {
    border-right: black solid 1px;
    cursor: pointer;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
}
@media (max-width: 535px) {
    .menu li {
        padding: 2px;
        text-align: center;
    }
}
@media (max-width: 400px) {
    .menu li {
        font-size: 12px;
    }
}
.menu li:last-child {
    border-right: none;
}
.menu a {
    text-decoration: none;
    color:black;
}
.menu a:hover {
    color: #be1e2d;
}
.top {
    padding-top: 20px;
    position: relative;
    width: 100%;
    height: 95vh;
    background-image: url(img/main_1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 775px) {
    .top {
        background-position-x: -30px;
    }
}
@media (max-width: 730px) {
    .top {
        background-position-x: -50px;
    }
}
@media (max-width: 710px) {
    .top {
        height: 80vh;
    }
}
@media (max-width: 590px) {
    .top {
        background-position-x: 0px;
        height: 65vh;
    }
}
@media (max-width: 515px) {
    .top {
        background-position-x: -20px;
        height: 60vh;
    }
}
@media (max-width: 455px) {
    .top {
        height: 50vh;
    }
}
@media (max-width: 380px) {
    .top {
        height: 45vh;
    }
}
.top__descr {
    color: #191970;
    font-weight: 900;
    font-size: 48px;
    position: absolute;
    top: 100px;
    left: 80px;
}
@media (max-width: 1150px) {
    .top__descr {
        top: 60px;
    }
}
@media (max-width: 900px) {
    .top__descr {
        top: 30px;
    }
}
@media (max-width: 785px) {
    .top__descr {
        font-size: 36px;
        left: 40px;
    }
}
@media (max-width: 515px) {
    .top__descr {
        font-size: 28px;
        left: 20px;
    }
}
@media (max-width: 430px) {
    .top__descr {
        font-size: 24px;
        left: 10px;
    }
}
.top__descr_top {
    max-width: 370px;
}
.top__descr_btm {
    padding-right: 85px;
}
@media (max-width: 785px) {
    .top__descr_btm {
        padding-right: 0;
    }
}
.top__descr_social {
    position: absolute;
    top: 245px;
    right: 80px;
}
@media (max-width: 1150px) {
    .top__descr_social {
        position: relative;
        top: 50px;
        max-width: 500px;
        margin: 20px auto 100px auto;
        text-align: center;
        right: initial;
    }
}
.top__descr_messengers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 20px 0;
}
@media (max-width: 1150px) {
    .top__descr_messengers {
        margin: 0 0 50px 0;
    }
}
@media (max-width: 550px) {
    .top__descr_messengers {
        justify-content: space-around;
    }
}
.top__descr_messengers svg {
    overflow: visible;
    width: 76px;
}
.top__descr_messengers path {
    animation: bounce 4s infinite ease-in-out;
}
@keyframes bounce {
    from {
      transform: scale(1.00);
    }
    50% {
      transform: scale(1.1);
    }
    to {
      transform: scale(1.0);
    }
}
@media (max-width: 1150px) {
    .top__descr_messengers path {
        width: 90px;
    }
}
@media (max-width: 500px) {
    .top__descr_messengers path {
        width: 60px;
    }
}

.top__number {
    text-decoration: none;
    position: relative;
    top: -20px;
    color: #F61B06;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
}
@media (max-width: 400px) {
    .top__number {
        font-size: 36px;
    }
}
.block_price .st0{
    fill: #F61B06;
}
.block_price h2 {
    margin: 100px 0 40px 0 !important;
}
.price_category {
    max-width: 100%;
    margin: 0 auto 0 0;
    display: grid;
    grid-template-columns: 80px 1fr 40px 1fr 80px;
    grid-template-rows: repeat(3, 0.7fr);
}
@media (max-width: 750px) {
    .price_category {
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: repeat(5, 0.8fr);
    }
}
@media (max-width: 340px) {
    .price_category {
        grid-template-columns: 5px 1fr 5px;
    }
}
.price_category div {
    justify-self: center;
}
.price_category div p {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}
.price_category span {
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #F61B06;
}
.grid_item_1, .grid_item_2, .grid_item_3, .grid_item_4 {
    text-align: center;
}
.grid_item_1 {
    grid-column: 2 / 3;
}
.grid_item_2 {
    grid-column: 4 / 5; 
}
.grid_item_3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.grid_item_4 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
@media (max-width: 750px) {
    .grid_item_1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .grid_item_2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .grid_item_3 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    .grid_item_4 {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
}
.big_card svg {
    width: 209px;
    height: 209px;
}
.big_card_auto p {
    position: relative;
    top: -95px;
}
.big_card_auto svg {
    width: 304px;
    height: 304px;
    position: relative;
    top: -40px;
}
.small_card {
    align-self: center;
}
.small_card svg {
    width: 88px;
    height: 88px;
}
.small_card p {
    max-width: 500px;
    padding-top: 30px;
}
.teach_descr {
    font-size: 1.3em;
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    justify-self: start !important;
    align-self: center;
}
@media (max-width: 750px) {
    .teach_descr {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}
@media (max-width: 400px) {
    .teach_descr {
        font-size: 24px;
    }
}
.teach_descr p {
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
}
.teach_descr p span {
    font-size: 28px;
    line-height: 49px;
    color: #191970;
}
.teach_descr li {
    list-style: none;
    font-weight: 600;
}
.study_info_th {
    margin: 100px 0 0 80px;
}
.study_info_pr {
    margin: 40px 0 0 80px;   
}
.study__block {
    border: 6px solid #191970;
    max-width: 60%;
    padding: 20px;
    cursor: pointer;
    color: #191970;
}
@media (max-width: 970px) {
    .study_info_th {
        margin: 100px 0 0 20px;
    }
    .study_info_pr {
        margin: 40px 0 0 20px;   
    }
    .study__block {
        max-width: 90%;
        padding: 10px;
    }
}
.study__block p {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
}
@media (max-width: 360px) {
    .study__block p {
        font-size: 24px;
    }
}
.study__block ul {
    padding: 0 0 0 20px;
}
.study__block:hover {
    color: #FFF;
    background-color: #191970;
}
.text__addServices {
    display: flex;
    padding: 100px 0 20px 80px;
    max-width: 70%;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}
@media (max-width: 850px) {
    .text__addServices {
        padding: 100px 0 20px 20px;
        max-width: 100%;
    }
}
@media (max-width: 400px) {
    .text__addServices {
        padding: 100px 0 20px 40px;
        max-width: 100%;
        font-size: 18px
    }
}
.text__addServices span {
    font-weight: 800;
}
.text__addServices svg {
    right: 10px;
    position: relative;
    top: 20px;
    overflow: visible;
    height: 71px;
}
.text__addServices path {
    height: 71px;
}
@media (max-width: 900px) {
    .text__addServices svg {
        top: 10px;
        height: 80px;
        width: 40px;
    }
}
@media (max-width: 700px) {
    .text__addServices svg {
        top: 20px;
        height: 120px;
    }
}
@media (max-width: 580px) {
    .text__addServices svg {
        top: 20px;
 
    }
}
.scale {
    transition: 1s;
   }
.scale:hover {
    transform: scale(1.2);
}
.auditories__img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0  80px 0 80px;
}
.auditories__img img {
    width: 28%;
}
@media (max-width: 1250px) {
    .auditories__img {
        flex-direction: column;
        align-items: center;
    }
    .auditories__img img {
        width: 80%;
        margin-bottom: 20px;
    }
}
@media (max-width: 700px) {
    .auditories__img {
        margin: 0  20px 0 20px;
    }

    .auditories__img img {
        width: 100%;
        margin-bottom: 10px;
    }
}

.advantages__grid {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    grid-template-rows: 1fr 40px 1fr 40px 1fr;
    margin: 0 80px 0 80px;
    max-width: 100%;
}
@media (max-width:1000px) {
    .advantages__grid {
        width: 90%;
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: 1fr 40px 1fr 40px 1fr 40px 1fr 40px 1fr;
    } 
}
@media (max-width:900px) {
    .advantages__grid {
        margin: 0 auto 0 auto;
        grid-template-rows: 0.8fr 40px 0.8fr 40px 0.8fr 40px 0.8fr 40px 0.8fr;
    } 
}
@media (max-width:420px) {
    .advantages__grid {
        width: 95%;
        margin: 0;
        grid-template-columns: 5px 1fr 5px;
        grid-template-rows: 0.8fr 40px 0.8fr 40px 0.8fr 40px 0.8fr 40px 0.8fr;
    } 
}
.advantages__grid h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #191970;
    min-height: 80px;
}
@media (max-width: 350px) {
    .advantages__grid h3 {
        font-size: 18px;
        min-height: 80px;
    }
}
.plus p {
    margin-top: 10px;
}
@media (max-width: 350px) {
    .plus p {
        font-size: 12px;
    }
}
.plus {
    border: 2px solid #191970;
    padding: 15px;
}
@media (max-width: 370px) {
    .plus {
        padding: 5px;
    }
}
.adv_bl_1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.adv_bl_2 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.adv_bl_3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.adv_bl_4 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}
.adv_bl_5 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}
@media (max-width: 1000px) {
    .adv_bl_1 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    .adv_bl_2 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
    .adv_bl_3 {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }
    .adv_bl_4 {
        grid-row: 7 / 8;
        grid-column: 2 / 3;
    }
    .adv_bl_5 {
        grid-row: 9 / 10;
        grid-column: 2 / 3;
    }
}
.contacts__grid {
    padding: 0 80px 0 80px;
    display: grid;
    grid-template-columns: 0.3fr 0.15fr 0.1fr 30px 1fr;
    grid-template-rows: 0.95fr 0.2fr 50px 0.95fr 0.2fr 50px 0.65fr 0.2fr;
    max-width: 1400px;
}
@media (max-width: 1200px) {
    .contacts__grid {
        grid-template-columns: 0.3fr 0.15fr 0.2fr 30px 0.9fr;
        padding: 0 20px 0 80px;
    }
}
@media (max-width: 900px) {
    .contacts__grid {
        padding: 0 20px 0 20px;
    }
}
@media (max-width: 840px) {
    .contacts__grid {
        padding: 0;
        margin: 0 auto;
        max-width: 90%;
        grid-template-columns: 0.5fr 0.3fr 0.3fr 0.7fr;
        grid-template-rows: 0.7fr 0.3fr 20px 0.7fr 0.3fr 20px 0.7fr 0.3fr 20px 1fr 1fr 1fr;
    }
}
@media (max-width: 600px) {
    .contacts__grid {
        max-width: 98%;
        grid-template-columns: 1fr 0.4fr 0.3fr 0.6fr;
    }
}
.bl-place {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #191970;
}
.bl-place h4 {
    padding-bottom: 30px;
}
.cg-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.cg-2 {
    grid-row: 4 / 6;
    grid-column: 1 / 3;
}
.cg-3 {
    grid-row: 7 / 9;
    grid-column: 1 / 3;
}
@media (max-width: 1300px) {
    .cg-1 {
        grid-column: 1 / 4;
    }
    .cg-2 {
        grid-column: 1 / 4;
    }
    .cg-3 {
        grid-column: 1 / 4;
    }
}
@media (max-width: 840px) {
    .cg-1 {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
    }
    .cg-2 {
        grid-column: 1 / 4;
        grid-row: 4 / 6;
    }
    .cg-3 {
        grid-column: 1 / 4;
        grid-row: 7 / 9;
    }
}
@media (max-width: 600px) {
    .cg-1 {
        grid-column: 1 / 5;
    }
    .cg-2 {
        grid-column: 1 / 5;
    }
    .cg-3 {
        grid-column: 1 / 5;
    }
}
.contacts-btn {
    background-color: inherit;
    border: 2px solid #F61B06;
    color: #F61B06;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    max-height: 50px;
    text-decoration: none;
    text-align: center;
    align-self: center;
}
.contacts-btn:hover {
    background-color: #F61B06;
    color: #FFF;
}
.contacts-btn_checked {
    background-color: #FFF;
    color: #C4C4C4;
    border: 2px solid #C4C4C4;
}
.contacts-btn_checked:hover {
    background-color: #FFF;
    color: #C4C4C4;
    border: 2px solid #C4C4C4;
}
@media (max-width:325px) {
    .first {
        position: relative;
        top: -5px;
    }
    .third {
        position: relative;
        top: -5px;
    }
}
.cg-btn-1 {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}
.cg-btn-2 {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
}
.cg-btn-3 {
    grid-row: 8 / 9;
    grid-column: 2 / 4;
}
.map {
    grid-row: 1 / 9;
    grid-column: 5 / 6;
    width: 100%;
    height: 100%;
}
@media (max-width:840px) {
    .map {
        grid-row: 10 / 13;
        grid-column: 1 / 6;
    }
    .cg-btn-1 {
        grid-column: 2 / 4;
    }
    .cg-btn-2 {
        grid-column: 2 / 4;
    }
    .cg-btn-3 {
        grid-column: 2 / 4;
    }
}
@media (max-width:600px) {
    .cg-btn-1 {
        grid-column: 2 / 5;
    }
    .cg-btn-2 {
        grid-column: 2 / 5;
    }
    .cg-btn-3 {
        grid-column: 2 / 5;
    }
}
.map iframe {
    width: 100%;
    height: 100%;
    border: none;
}
footer {
    background: #332F2F;
    text-align: center;
    color: #FFF;
    margin-top: 50px;
    font-size: 18px;
    line-height: 25px;
}
@media (max-width: 400px) {
    footer {
        font-size: 12px;
    }
}
.footer__name {
    padding: 40px;
}
